<div class = "table">

    <P>
        <strong>Title:</strong>
        <%= @book.title %>
    </p>

    <P>
        <strong>Body:</strong>
        <%= @book.body %>
    </P>
    </div>

    <div class = "show-back">

    <%= link_to "Edit", edit_book_path(@book.id) %>
    |
    <%= link_to "Back", '/books' %>

</div>