* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2{
	margin: 30px;
}

.new{
	margin-left: 30px;
}

.table{
	margin: 20px 30px;
}

.title{
	width: 200px;
}

.body{
	width: 500px;
}

p{
	margin-top: 20px
}

.show-back{
	margin-left: 20px;
}

.flash-message.notice {
	margin: 30px;
  color: lightgreen;
}